*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}



body a{
  cursor: pointer;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("img/back.jpg");
  background-size: cover;
  background-position: center;
  
}

.container{
  padding: 10px 10%;
  position: relative;
  margin-top: 100px;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', 'sans-serif';
    height: 55px;
    background-color: #1E90FF;
    padding: 0 5%;

}
nav .logo { 
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li {
    list-style: none;
}
nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: relative;
}
nav .links a:hover {
  color: white;
}
nav .links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
nav .links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  color: white;
}
#nav-menu{
  position:absolute;
  top:-100px
}
nav .icon-menu {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-menu .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-menu {
    display: block;
  }
  nav :checked ~ .icon-menu .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-menu .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-menu .line:nth-child(2) {
    opacity: 0;
  }
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
  
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;

}

.header-text h1 span{
  color: #1E90FF;

}
.header-text .text-3{
  font-size: 35px;
  margin: 5px 0;
}

.header-text .text-3 span{
  color: #1E90FF;
  

}

/*--aboutMe section----*/
.container1{
  padding: 10px 10%;
  position: relative;
  margin-top: 100px;
}

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

about-col-1{
  flex-basis: 35%;
}
about-col-1 img{
  width: 100%;
  border-radius: 20px;
}

about-col-2{
  flex-basis: 60%;
}


sub-title {
  font-size: 60px;
  font-weight: 600;
  color: white;

}
.sub-title span{
  color: #1E90FF;

}
.button-about{
  margin-top: 30px;
}
.button-about a{
  color: #18272F;
  position: relative;
  text-decoration: none;
}

.button-about a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #1E90FF;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.button-about a:hover::before{
  transform-origin: left;
  transform: scaleX(1);
}

/*--time--*/
ul {
  list-style: none;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  display: inline-block;
}

img {
  max-width: 100%;
}

button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  
  margin: 0;
}
p {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}
.timelines h2 {
  text-align: center;
  color: black;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 32px;
}
.d-flex-2 {
  display: flex;
  align-items: center;
}
.timeline-area {
  padding: 80px 0;
}
.all-timelines {
  position: relative;
}
.timelines h2 {
  text-align: center;
  color: black;
  font-weight: 600;
  margin-bottom: 40px;
}
.all-timelines::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 2px;
  background: #1E90FF;
  top: 20px;
}
.single-timeline {
  margin-bottom: 22px;
}
.timeline-blank {
  width: 50%;
}
.timeline-text {
  width: 50%;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.timeline-text h6 {
  color: black;
  font-weight: 900;
  display: inline-block;
  font-size: 1rem;
}
.timeline-text span {
  color: black;
  display: block;
  width: 100%;
}
.single-timeline:nth-child(even) .timeline-text span {
  text-align: right;
}
.t-square {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -6px;
}
.single-timeline:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.single-timeline:nth-child(even) .t-square {
  right: -6px;
  left: unset;
}
.single-timeline:nth-child(even) .timeline-text {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

@media all and (max-width: 991px) {
}
@media all and (max-width: 768px) {
  .all-timelines::before {
    right: unset;
    top: 0;
  }
  .single-timeline:nth-child(2n) .timeline-text {
    padding-left: 30px;
    padding-right: 0;
    text-align: left;
  }
  .single-timeline:nth-child(2n) .t-square {
    left: -6px;
    right: unset;
  }
  .timeline-blank {
    display: none;
  }
  .timeline-text {
    width: 100%;
  }
  .single-timeline:nth-child(even) .timeline-text span {
    text-align: left !important;
  }
}
@media all and (max-width: 575px) {
}
@media all and (max-width: 360px) {
  .all-timelines::before {
    top: 32px;
  }
}
.button-about1{
  text-align: center;
  margin-top: 100px;
  
}

.button-about1 a{
  color: #18272F;
  position: relative;
  text-decoration: none;
  
}

.button-about1 a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #1E90FF;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.button-about1 a:hover::before{
  transform-origin: left;
  transform: scaleX(1);
}
/*----project--*/

#project1{
  padding: 50px 0;

}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;

}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 300px;
  transition: transform 0.5s;

}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #1E90FF);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;

}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;

}

.layer p{
  color: #fff;
}

.layer a{
  margin-top: 20px;
  color: #1E90FF;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
}


.button-about2{
  text-align: left;
  margin-top: 30px;
  
}

.button-about2 a{
  color: #18272F;
  position: relative;
  text-decoration: none;
  
}

.button-about2 a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #1E90FF;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.button-about2 a:hover::before{
  transform-origin: left;
  transform: scaleX(1);
}

/*--contact--*/
#contact1 .container .sub-title1{
text-align: center;
margin-top: 50px;
}
.button-about3{
  text-align: center;
  margin-top: 60px;
}
.button-about3 a{
  color: #18272F;
  position: relative;
  text-decoration: none;
  
}

.button-about3 a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #1E90FF;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.button-about3 a:hover::before{
  transform-origin: left;
  transform: scaleX(1);
}

/*---footer---*/
footer
{
    position: relative;
    width: 100%;
    
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: #1E90FF;
    


}

footer .social_icon,
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li

{
    list-style: none;

}

footer .social_icon li a
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

}

footer .social_icon li a:hover 
{
    transform: translate(-10px);
}
footer .menu li a
{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;

}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: #dccdcd;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;

}
